/* google font - popping*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{


    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
    }

:root{
    --black:#1c1c1c;
    --gray:#7E7E7E;
    --gray-light:#E4E4E4;
    --red:#b30000;
    --font-size-base: 1rem;
    --font-size-md: clamp(1.25rem,0.61vw +1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem,1vw+ 1.31rem,2.11rem );
    --font-size-xl:clamp(2.44rem, 2.38vw+ 1.85rem ,3.75rem);
    --border-radius:10px;
}


body{
    font-family: "Poppins", sans-serif;
    color: var(--black);
    font-size: var(--font-size-base);
    background-color: #FAF5EE;
    background-image: url("img/web1.png");
    


}