<diiv class="author">
    <h1 class="author_heading">
        Hi, I am Rain
    </h1>
    <p class="auhtor_body">
      Web developer and content creator
    </p>

    <img src="/img/manwatch.jpeg" alt="man looking outside the window" class="hero-image" width="981"  height="528">

    <section class="article">
        <h2 class="articles_heading">Latest Posts</h2>
        <ul class="article-ul">
            <li>
                <a href="#">
                    <span>Post title</span>
                    <span class="article-list_date">Date</span>
                </a>
            </li>
        </ul>
        <a href="#"claas="pagination">&lt;  View Older Posts</a>
    </section>
</diiv>